[Unit]
Description=ChiliCoin's distributed currency daemon
After=network.target

[Service]
User=chilicoin
Group=chilicoin

Type=forking
PIDFile=/var/lib/chilicoind/chilicoind.pid

ExecStart=/usr/bin/chilicoind -daemon -pid=/var/lib/chilicoind/chilicoind.pid \
          -conf=/etc/chilicoin/chilicoin.conf -datadir=/var/lib/chilicoind

ExecStop=-/usr/bin/chilicoin-cli -conf=/etc/chilicoin/chilicoin.conf \
         -datadir=/var/lib/chilicoind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
